<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

<!--sprite-->
{{> sprite}}
<!--/.sprite-->

<!--header-->
{{> header }}
<!--/.header-->

<!--Home-->
{{> home }}
<!--/.Home-->

<!--services-->
{{> services }}
<!--/.services-->

<!--about-->
{{> about }}
<!--/.about-->

<!--price-->
{{> price }}
<!--/.price-->

<!--works-->
{{> works }}
<!--/.works-->

<!--clients-->
{{> clients }}
<!--/.clients-->

<!--contact-->
{{> contact }}
<!--/.contact-->


<!--footer-->
{{> footer }}
<!--/.footer-->


<!--Осталось : отправка формы, слайдер, модальное окно,
бургер меню, постоянный header, медиа запросы-->


<script src="assets/js/app.min.js"></script>

</body>
</html>
