<div class="clients">
    <div class="container">
        <div class="clients__inner">

            <h1 class="title title--white">Happy Clients</h1>
            <h4 class="subtitle subtitle--white">We are explain who is using our business solution</h4>

            <div class="reviews">
                <div class="reviews__inner">

                    <!--item1-->
                    <div class="reviews__item">
                        <div class="reviews__photo">
                            <img class="reviews__image" src="../../assets/img/clients/1.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__text">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make."</div>
                            <div class="reviews__name"><span class="text--orange">Darwin Michle,</span> Project manager</div>
                        </div>
                    </div>

                    <!--item2-->
                    <div class="reviews__item">
                        <div class="reviews__photo">
                            <img class="reviews__image" src="../../assets/img/clients/2.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__text">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make."</div>
                            <div class="reviews__name"><span class="text--orange">Madam Elisabath,</span> Creative Director</div>
                        </div>
                    </div>

                    <!--item3-->
                    <div class="reviews__item">
                        <div class="reviews__photo">
                            <img class="reviews__image" src="../../assets/img/clients/3.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__text">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make."</div>
                            <div class="reviews__name"><span class="text--orange">Clips arter,</span> Lipsum directer</div>
                        </div>
                    </div>

                    <!--item4-->
                    <div class="reviews__item">
                        <div class="reviews__photo">
                            <img class="reviews__image" src="../../assets/img/clients/4.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__text">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make."</div>
                            <div class="reviews__name"><span class="text--orange">zam cristafr,</span>  manager</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
