<!--HEADER-->
<header class="header">
    <div class="container">
        <div class="header__inner">

            <nav class="nav" id="navigation">
                <a class="nav__link" href="#Home">Home</a>
                <a class="nav__link" href="#Service">Service</a>
                <a class="nav__link" href="#About">About us</a>
                <a class="nav__link" href="#Pricing">Pricing Table</a>
                <a class="nav__link" href="#Work">How it work</a>
                <a class="nav__link" href="#Clients">Happy Clients</a>
                <a class="nav__link" href="#Contact">Contact Us</a>
            </nav>

            <button class="burger" type="button" id="burgerButton">
                <span class="burger__item"></span>
            </button>

        </div>
    </div>
</header>
<!--/.HEADER-->
