<div class="home">
    <div class="container">
        <div class="home__inner">
            <h1 class="home__title">Boost up your Local business</h1>
            <h4 class="home__subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum typesetting</h4>

            <!--form-->
            <form action="/" method="post">
                <div class="forms">

                    <div class="forms__item">
                        <input class="forms--input" type="text" name="name" placeholder=" Full Name">
                    </div>
                    <div class="forms__item">
                        <input class="forms--input" type="email" name="email" placeholder="Email Address">
                    </div>
                     <div class="forms__item">
                        <input class="forms--input" type="tel" name="tel" placeholder="Phone Number">
                    </div>
                    <div class="forms__item">
                        <button class="btn" type="submit">Request a quote</button>
                    </div>

                </div>
            </form>
            <!--/.form-->

            <!--slider-->

<!--
            <div class="slider">

                <button class="home__arrow  home__arrow--prev" type="button" id="home-arrow-prev">
                    <svg class="home__arrow-icon">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>

                <button class="home__arrow  home__arrow--next" type="button" id="home-arrow-next">
                    <svg class="home__arrow-icon">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>

                <div class="home__slider" id="home">
                    <div class="home__item">
                        <a class="home__link" href="#" target="_blank">
                            <img class="home__img" src="../../assets/img/home/bg.jpg" alt="">
                        </a>
                    </div>
                    <div class="home__item">
                        <a class="home__link" href="#" target="_blank">
                            <img class="home__img" src="../../assets/img/home/img1.png" alt="">
                        </a>
                    </div>
                    <div class="home__item">
                        <a class="home__link" href="#" target="_blank">
                            <img class="home__img" src="../../assets/img/home/img1.png" alt="">
                        </a>
                    </div>
                </div>


            </div>
-->

            <!--/.slider-->

        </div>
    </div>
</div>
