<div class="home" id="Home">
    <div class="container">
        <div class="home__inner">
            <h1 class="home__title">Boost up your Local business</h1>
            <h4 class="home__subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum typesetting</h4>

            <!--form-->
            <form action="/" method="post">
                <div class="forms">

                    <div class="forms__item">
                        <input class="forms--input" type="text" name="name" placeholder=" Full Name">
                    </div>
                    <div class="forms__item">
                        <input class="forms--input" type="email" name="email" placeholder="Email Address">
                    </div>
                     <div class="forms__item">
                        <input class="forms--input" type="tel" name="tel" placeholder="Phone Number">
                    </div>
                    <div class="forms__item">
                        <button class="btn" type="submit">Request a quote</button>
                    </div>

                </div>
            </form>
            <!--/.form-->

            <!--Notebook-->
            <div class="home__notebook">
                <div class="notebook__inner">
                    <img src="../../assets/img/home/hotebook.png" alt="" class="notebook--img notebook--img--book">
                    <img src="../../assets/img/home/hotebook_Photo.png" alt="" class="notebook--img notebook--img--photobook">
                </div>
            </div>
            <!--/.Notebook-->

        </div>
    </div>
</div>
