<div class="price" id="Pricing">
    <div class="container">
        <div class="price__inner">

            <h1 class="title">Choos your price</h1>
            <h4 class="subtitle subtitle--price">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>

            <div class="plan">
                <div class="plan__inner">

                    <!--item1-->
                    <div class="plan__item">
                        <h1 class="plan__title">Basic plan</h1>
                        <div class="plan__price">$22</div>
                        <h4 class="plan__subtitle">per month</h4>
                        <div class="plan__account">1 Account</div>
                        <div class="plan__hour">8 hour support</div>
                        <div class="plan__services">Custom Cloud Services</div>
                        <button class="btn">Get Started</button>
                    </div>

                    <!--item2-->
                    <div class="plan__item">
                        <h1 class="plan__title">Premium plan</h1>
                        <div class="plan__price">$42</div>
                        <h4 class="plan__subtitle">per month</h4>
                        <div class="plan__account">2 Account</div>
                        <div class="plan__hour">100MB Storage</div>
                        <div class="plan__services">Custom Cloud Services</div>
                        <button class="btn">Get Started</button>
                    </div>

                    <!--item3-->
                    <div class="plan__item">
                        <h1 class="plan__title">Gold plan</h1>
                        <div class="plan__price">$62</div>
                        <h4 class="plan__subtitle">per month</h4>
                        <div class="plan__account">8 Account</div>
                        <div class="plan__hour">24 hour support</div>
                        <div class="plan__services">Custom Cloud Services</div>
                        <button class="btn btn--price">Get Started</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
