<div class="works">
    <div class="container">
        <div class="works__inner">

            <h1 class="title">How it works</h1>
            <h4 class="subtitle">Lorem Ipsum is simply dummy Business industry</h4>

            <div class="step">
                <div class="step__inner">

                    <div class="step__item">
                        <div class="step__img">
                            <img class="step--image" src="../../assets/img/works/1.png" alt="">
                        </div>
                        <h1 class="step__title">Step 1</h1>
                        <div class="step__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
                    </div>

                    <div class="step__item">
                        <div class="step__img">
                            <img class="step--image" src="../../assets/img/works/2.png" alt="">
                        </div>
                        <h1 class="step__title">Step 2</h1>
                        <div class="step__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
                    </div>

                    <div class="step__item">
                        <div class="step__img">
                            <img class="step--image" src="../../assets/img/works/3.png" alt="">
                        </div>
                        <h1 class="step__title">Step 3</h1>
                        <div class="step__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
                    </div>

                    <div class="step__item">
                        <div class="step__img">
                            <img class="step--image" src="../../assets/img/works/4.png" alt="">
                        </div>
                        <h1 class="step__title">Step 4</h1>
                        <div class="step__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
                    </div>

                </div>
            </div>

            <button class="btn">Get start Now</button>

        </div>
    </div>
</div>
