$white: #fff;
$black: black;
$HeaderColor: #282828;
$button: #e5a739;
$buttonHover: #dea237;
$backgroundHome: #709dca;
$backgroundPrice : #e7edf3;
$forms: #b4b4b4;
$title: #394b50;
$aboutColor: #ffc155;
$colorPriceTitle: #84959b;
$colorPlan: #dcdfe2;
